.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
pics/MMK Triptease_Billboard.jpg
pics/MMK Triptease_Billboard.jpg:Zone.Identifier
pics/MMK Triptease_Half page.jpg
pics/MMK Triptease_Large mobile banner.jpg
pics/MMK Triptease_Large rectangle.jpg
pics/MMK Triptease_Leaderboard.jpg
pics/MMK Triptease_Medium rectangle.jpg
pics/MMK Triptease_Mobile banner.jpg
pics/MMK Triptease_Mobile interstitial.jpg
pics/MMK Triptease_Mobile leaderboard.jpg
pics/MMK Triptease_Skyscraper.jpg
pics/MMK Triptease_Square.jpg
